#areas {
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
  flex-direction: column-reverse;
}

.content {
  height: auto;
}

.info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0rem 1rem 1rem 1rem;
}

h2 {
  text-align: center;
  margin-bottom: 0.7rem;
  font-size: 2rem;
  color: #2f5f33;
  display: none;
}

p {
  font-size: 1rem;
  margin-bottom: 2rem;
  line-height: 1.7;
}

.image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: 40rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}

.card {
  width: 45%;
  justify-content: center;
  word-wrap: normal;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  color: white;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: all 0.3s ease;

  background: linear-gradient(312deg, #a1bc31, #2f5f33, #e0eee1);
  background-size: 600% 600%;

  -webkit-animation: colorDiagonal 12s ease infinite;
  -moz-animation: colorDiagonal 12s ease infinite;
  animation: colorDiagonal 12s ease infinite;
}

@-webkit-keyframes colorDiagonal {
  0% {
    background-position: 0% 13%;
  }
  50% {
    background-position: 100% 88%;
  }
  100% {
    background-position: 0% 13%;
  }
}
@-moz-keyframes colorDiagonal {
  0% {
    background-position: 0% 13%;
  }
  50% {
    background-position: 100% 88%;
  }
  100% {
    background-position: 0% 13%;
  }
}
@keyframes colorDiagonal {
  0% {
    background-position: 0% 13%;
  }
  50% {
    background-position: 100% 88%;
  }
  100% {
    background-position: 0% 13%;
  }
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

@media (min-width: 375px) {
  .card {
    width: 45%;
    padding: 2rem;
  }
}

@media (min-width: 768px) {
  .content {
    /* height: auto; */
  }
}

@media (min-width: 991px) {
  #areas {
    flex-direction: row;
  }

  .info {
    width: 65%;
    padding: 4rem 2rem 0 2rem;
  }

  .image {
    width: 80%;
  }

  .image img {
    width: 100%;
    padding: 2rem;
    max-height: 40rem;
  }

  .info h2 {
    display: block;
  }

  .cards {
    flex-direction: row;
  }

  .card {
    width: 40%;
    padding: 1.5rem;
    margin: 0 0.5rem 1rem;
  }
}

@media (min-width: 991px) {
  .cards {
    flex-direction: row;
  }
}
