.secciones {
  display: none;
}

#secciones {
  height: 75vh;
  display: flex;
}

#carousel {
  display: block;
  height: 81vh;
}

#carouselHome,
.carousel-inner,
.carousel-item,
.carousel-item img {
  height: 100%;
}

.carousel-indicators {
  margin-bottom: 0 !important;
}

.section {
  width: 25%;
  height: 100%;
  overflow: hidden;
}

#secciones img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

#secciones img:hover {
  transform: scale(1.03);
}

@media (min-width: 500px) {
  .secciones {
    display: block;
    height: 100%;
  }

  #carousel {
    display: none;
  }
}
