html {
  font-size: 16px;
}

@media only screen and (min-width: 720px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (min-width: 960px) {
  html {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1240px) {
  html {
    font-size: 24px;
  }
}

body {
  /* height: 100vh!important; */
  overflow: hidden;
}

.temporal {
  text-align: center;
  height: 100%;
}

h1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  display: inline-block;
  margin-right: 1rem;
  font-size: 1rem;
}

.spinner-border {
  width: 1rem;
  height: 1rem;
}

.background {
  background-color: #015e2d;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.img-en-proceso {
  /* width: 100%;
    height: 100%; */
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 999999;
}

.img-en-proceso img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.texto {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) !important;
  margin-top: 1rem;
}

@media (max-width: 991px) {
  .img-en-proceso {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 3.5rem;
  }
}
